.table-address {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  div, input, fieldset {
    padding: 0!important;
  }

  input {
    width: 100%!important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }

  .MuiChip-root, .MuiAutocomplete-clearIndicator, .MuiAutocomplete-popupIndicator {
    display: none!important;
  }
    
  .MuiAutocomplete-root {
    width: inherit!important;
  }

  .MuiFormControl-root * {
    border: 0px!important;
    height: 100%;
  }
}