.table-people {
    max-width: 120px;
    
    .MuiChip-root, .MuiAutocomplete-clearIndicator, .MuiAutocomplete-popupIndicator {
      display: none!important;
    }

    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding-top: 0px!important;
      padding-bottom: 0px!important;
    }
    
    .MuiFormControl-root * {
      border: 0px!important;
      cursor: pointer;
      height: 100%;
    }
    
    .selected {
      width: 100%;
      z-index: 2;
      display: flex;
      flex-flow: row wrap;
      div {
        padding-left: 10px;
        margin-bottom: -53px;
      }
      &.sm {
        div {
          padding-top: 5px;
        }
      }
      &.lg {
        div {
          margin-top: -3px;
        }
      }
    }
  } 
  
.table-people-checkbox-name {
  margin-left: 5px;
}